<h2 class='User_Header'><%=@current_user.username%> Feeds </h2>
<div data-role="content">
	<ul data-role="listview">
		<%= render :partial => '/feeds/edit' %>
	</ul>
	<p class="clearfix">&nbsp;</p>
	<a class="ui-btn ui-btn-icon-right ui-icon-carat-r" href="/feeds/new">Add Feeds?</a>
</div>