
<div data-role="content">
	<p>
	  <strong>Title:</strong>
	  <%= @feed.feed_name %>
	</p>
 
	<p>
	  <strong>URL:</strong>
	  <%= @feed.feed_url %>
	</p>
	<a class="ui-btn ui-btn-icon-right ui-icon-carat-r" href="feeds">Add Feeds?</a>
</div>